<div class="ui relaxed divided list">
  <% @articles.each do |article| %>
  <div class="item">
    <i class="caret right icon"></i>
    <div class="content">
      <div class="despcription"> <%= link_to article.title, article_path(article), class: "header" %></div>
    </div>
  </div>
  <% end %>
</div>
